/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}

body{
  background: #28415B;
  color: #ffffff;
}

.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

.actual{
  font-style: bold;
}

.wrong{
  font-style: italic;
  color: red;
}

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #ffffff;
    min-height:40px;
  }

  li.game-spacer-final{
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
    min-height: 40px;
    flex-shrink: 1;
  }

  li.game-spacer-east{ 
    border-left:1px solid #ffffff;
    min-height:40px;
    flex-grow:1;
  }

  li.game-spacer-west{ 
    border-right:1px solid #aaa;
    min-height:40px;
    flex-grow:1;
  }


  li.game-bottom{ 
    border-top:1px solid #aaa;
  }
